.header{
    background-color: red;
    .menu{
        li{
            a{
                padding: 15px;
                display: block;
                font-size: 18px;
                color: white;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}